[user]
	name = Antoine Busque
	email = antoinebusque@gmail.com
[color]
	ui = auto
	ui = true
[push]
	default = current
[alias]
	ci = commit
        cam = commit -am
        co = checkout
        st = status
        lpg = log --pretty=oneline --graph
        lppg = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        discard = stash --keep-index -u
	cim = commit -m
        k = !gitk
